body{
    /* background-image: url(wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center; */
    background-color: rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1{
    background-color: rgba(0, 0, 0, 0.35);
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    text-align: center;
    color: white;
    font-family: Verdana;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
    .input-area{
        text-align: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 20px;
        border-radius: 15px 15px 0px 0px;
        #input{
            background-color: rgba(0, 0, 0, 0.397);
            color: white;
            width: 95%;
            height: 40px;
            font-size: 30px;
            border: none;
            border-radius: 5px;
            padding: 10px;
        }
    }

    .type-area{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 20px;
        border-radius: 0px 0px 15px 15px;

        .operations, .numbers, #equals, #clear{
            padding: 20px;
            font-size: 25px;
            border: none;
            border-radius: 10px;
            color: white;
            background-color: rgba(0, 0, 0, 0.3);
            cursor: pointer;
            transition: background-color 0.3s;
        }
    }
}