.dark{
    background-color: hsla(225, 90%, 0%, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;

    h1{
        background-color: rgba(0, 0, 0, 0.35);
        padding: 20px;
        border-radius: 10px;
        margin-top: 100px;
        text-align: center;
        color: white;
        font-family: Verdana;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 50px;
        backdrop-filter: blur(10px);
        padding: 30px;
        border-radius: 10px;

        .input-area{
            text-align: center;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 20px;
            border-radius: 15px 15px 0px 0px;
            #input{
                background-color: rgba(0, 0, 0, 0.3);
                color: white;
                width: 95%;
                height: 40px;
                font-family: monospace;
                font-size: 30px;
                border: none;
                border-radius: 5px;
                padding: 10px;
            }
        }

        .type-area{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 20px;
            border-radius: 0px 0px 15px 15px;

            button{
                padding: 20px;
                font-size: 25px;
                font-weight: bold;
                border: none;
                border-radius: 10px;
                color: white;
                background-color: rgba(0, 0, 0, 0.3);
                cursor: pointer;
                transition: all 0.2s;
            }
            button:hover{
                background-color: rgba(255, 255, 255, 0.2);
            }
            .operations, #clear, #delete{
                color: rgb(255, 255, 255);
                background-color: rgba(184, 119, 0, 0.87);
            }
            .operations:hover, #clear:hover, #delete:hover{
                color: black;
                background-color: rgb(255, 188, 62);
            }
            #equals{
                background-color: rgba(136, 0, 170, 0.719);
            }
            #equals:hover{
                color: black;
                background-color: rgb(219, 113, 219);
            }
        }
    }
}