.global{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0px;

    h1{
        margin-top: 50px;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        font-family: Verdana;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 30px;
        border-radius: 10px;

        .input-area{
            text-align: center;
            width: 100%;
            padding: 20px;
            border-radius: 15px 15px 0px 0px;
            #input{
                width: 95%;
                height: 40px;
                font-family: monospace;
                font-size: 30px;
                border: none;
                border-radius: 5px;
                padding: 10px;
            }
        }

        .type-area{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            width: 100%;
            padding: 20px;
            border-radius: 0px 0px 15px 15px;

            button{
                padding: 20px;
                font-size: 25px;
                font-weight: bold;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: all 0.2s;
            }
            button:hover{
                transform: scale(1.05);
            }
        }
    }
}
.dark{
    background-color: hsla(225, 90%, 0%, 0.9);

    h1{
        background-color: rgba(0, 0, 0, 0.35);
        color: white;
    }
    .container{

        .input-area{
            background-color: rgba(0, 0, 0, 0.3);

            #input{
                background-color: rgba(0, 0, 0, 0.3);
                color: white;
            }
        }

        .type-area{
            background-color: rgba(0, 0, 0, 0.3);

            button{
                color: white;
                background-color: rgba(0, 0, 0, 0.3);
                cursor: pointer;
                transition: all 0.2s;
            }
            button:hover{
                background-color: rgba(255, 255, 255, 0.2);
                transform: scale(1.05);
            }
            .operations, #clear, #delete{
                color: rgb(255, 255, 255);
                background-color: rgba(184, 119, 0, 0.87);
            }
            .operations:hover, #clear:hover, #delete:hover{
                color: black;
                background-color: rgb(255, 188, 62);
            }
            #equals{
                background-color: rgba(136, 0, 170, 0.719);
            }
            #equals:hover{
                color: black;
                background-color: rgb(219, 113, 219);
            }
        }
    }
}
.light{
    background-color: hsla(32, 100%, 64%, 0.15);

    h1{
        background-color: hsl(41, 100%, 60%, .8);
        color: hsl(0, 0%, 20%, .9);
    }
    .container{
        background-color: hsla(0, 70%, 97%, 0.8);
        box-shadow: 3px 3px 10px rgba(51, 51, 51, 0.3);

        .input-area{
            #input{
                color: rgb(0, 0, 0);
            }
        }

        .type-area{

            button{
                color: rgb(0, 0, 0);
                background-color: rgb(255, 255, 255);
                cursor: pointer;
                transition: all 0.2s;
            }
            button:hover{
                background-color: hsl(0, 0%, 90%);
                transform: scale(1.05);
            }
            .operations, #clear, #delete{
                background-color: rgb(255, 166, 0);
            }
            .operations:hover, #clear:hover, #delete:hover{
                background-color: hsla(34, 100%, 48%);
            }
            #equals{
                background-color: rgb(204, 0, 255);
            }
            #equals:hover{
                color: black;
                background-color: rgb(193, 0, 241);
            }
        }
    }
}
#toggle-mode{
    margin-bottom: 100px;
    padding: 10px 20px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: hsl(210, 100%, 50%);
    color: white;
    transition: all 0.3s;
}
#toggle-mode:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgb(0, 183, 255);
    background-color: hsl(210, 100%, 40%);
}